$debugging: false;
@if $debugging {

  main {
    outline: 3px solid black;
  }

  header {
    outline: 3px solid blue;
  }

  article {
    outline: 3px solid green;
  }

  // aside {
  //   outline: 3px solid orange;
  // }

  section {
    outline: 3px solid red;
  }

  // div {
  //   outline: 2px solid purple;
  // }

  
}