.container {
 height: 100vh;
}

main {
  max-height: 95vh;
  padding: 0;
  min-width: 60vw;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: -webkit-min-content 3fr;
  grid-template-rows: min-content 3fr;
}

.image-container {
  height: auto;
  border-top-left-radius: var(--border-radius);
}

.profile-pic {
  box-shadow: var(--box-shadow);
  -o-object-fit: cover;
     object-fit: cover;
  height: 5rem;
  width: 5rem;
}

.about-me {
  border-top-right-radius: var(--border-radius);
  padding: 5rem;
  background-color: var(--light-bg-color);
  height: auto;
  @include inset-shadow;

  .about-me-heading {
    top: 1rem;
    color: var(--dark-bg-color);
  }

  .about-me-p {
    top: 3rem;
    left: 2rem;
    right: 2rem;
    color: var(--dark-bg-color);
  }

}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#contact-heading, .contact-list {
  -webkit-animation-name: none;
          animation-name: none;
  opacity: 1;
}

.skill-box {
  padding: 0 2rem;

  .skill-subtitle {
    margin-bottom: 1rem;
  }

  p {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .skill-list {

    li {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;
    

      p {
        font-size: 1rem;
        flex: 2;
        text-align: start;
        margin: 0;
        }

        progress {
          flex: 1;
          margin: 0;
          height: 0.75rem;
          width: 99%;
        }

      }
    }
}

.edu-exp-article {
  @include inset-shadow;
  overflow-y: auto;
  min-height: 0;
}

.contact-link {
  visibility: hidden;
}


