body {
  background-color: var(--light-bg-color);
}

main {
  background-color: var(--light-bg-color);
}

.image-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: var(--img-gradient),
                    url('/images/max-edlund-working-sm.jpg');
  background-size: cover;
  height: 20vh;
  padding: 1rem;
}

.profile-pic {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: var(--box-shadow);
}

.about-me {
  height: 30vh;
  position: relative;
  background-color: var(--dark-bg-color);
  overflow-y: auto;

  .about-me-heading {
    position: absolute;
    top: 1rem;
    left: 2rem;
    font-size: 1.5rem;
    color: var(--light-bg-color);
    animation: headingmation 1.5s linear forwards;
    animation-delay: 0.5s;
    z-index: 100;
    opacity: 0;
  }
  
  @keyframes headingmation {

    75% {
      opacity: 1;
      left: 2rem;
    }

    100% {
      left: 4rem;
      opacity: 1;
    }

  }
  
  .about-me-p {
    color: var(--light-bg-color);
    position: absolute;
    top: 3.75rem;
    left: 2rem;
    right: 2rem;
    opacity: 0;
    animation: fade-in 1s var(--bezier) forwards;
    animation-delay: 2s;
  }

}

@keyframes fade-in {
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

aside {
  background-color: var(--dark-bg-color);
  color: var(--light-bg-color);
  }

.contact-section {
  height: 50vh;
  display: grid;
  grid-template-rows: min-content 2fr 1fr;
  justify-content: center;
  padding: 1rem 0rem;
}

#contact-heading {
  margin-bottom: 1rem;
  justify-self: center;
  animation: fade-in 1.25s var(--bezier) forwards;
  opacity: 0;
  animation-delay: 3s;
}

.contact-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: fade-in 1.25s var(--bezier) forwards;
  opacity: 0;
  animation-delay: 3.5s;

  a, a:visited {
    color: var(--light-bg-color);
    display: block;
    text-decoration: none;
  }

  li {
    margin-bottom: 1.25rem;
    position: relative;
    width: 100%;
  }

  a::after {
    content: '';
    position: absolute;
    width: 8rem;
    display: block;
    background-color: var(--light-bg-color);
    height: 1px;
    bottom: -0.75rem;
    transform: translateX(25%);
  }
}

.skill-heading {
  display: flex;
  justify-content: center;
  position: relative;
  
    h2 {
      position: absolute;
      opacity: 0;
      top: -10%;
      animation: fade-in 1.25s var(--bezier) forwards;
      animation-delay: 4.25s;

      a {
        color: var(--light-bg-color);
      }
    }

    img {
      position: absolute;
      width: 2rem;
      height: 2rem;
      top: 10%;
      animation: arrowmation 1s linear forwards;
      animation-delay: 5.25s;
      opacity: 0;
    }

    @keyframes arrowmation {
      25% {
        opacity: 0.4;
        top: 10%;
      }

      100% {
        opacity: 1;
        top: 20%;
      }
    }
}

@media screen and (orientation:landscape) {
  
  .skill-heading {
    visibility: hidden;
  }

}


.skill-box {
  padding: 1rem 0;

  .skill-subtitle {
    margin-bottom: 2rem;
  }

  p {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .skill-list {
    @include flex-center;
    flex-direction: column;

    li {
      

      p {
        font-family: var(--mono-font);
        font-size: 1.25rem;
        text-align: center;
      }

      progress {
        margin-bottom: 1.25rem;

        progress::-webkit-progress-bar {
          border-radius: 100vw;
        }

        progress::-webkit-progress-value {
          border-radius: 100vw;
        }

        progress::-moz-webkit-progress-bar {
          border-radius: 100vw;
        }
      }
    }
  }
}

.edu-exp-article {

  .name {
    background-color: var(--accent-color);
    padding: 1rem 2rem;
    @include flex-center;
    flex-direction: column;
  
    .name-heading {
      margin-bottom: 1rem;
    }

    .job-title {
      font-family: var(--mono-font);
    }
  }

  .scroll-box {
    padding: 1rem 2rem;
    @include inset-shadow;
  }



  section {
    

    h2 {
      @include header-margin;
    }

    p {
      margin-bottom: 1rem;
    }
  }

  .signature {
    padding-left: 1rem;
    font-family: 'Dancing Script', cursive;
    font-size: 1.25rem;
  }

}