.container {
  background-color: var(--light-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
}

main {
  width:70vw;
  border: 1px solid #000;
}

.about-me {

  .about-me-heading {
    top: 1rem;
  }

  .about-me-p {
    top: 4.75rem;
    left: 5rem;
    right: 5rem;
  }
}

